.header {
    padding-right: 0px;
    padding-left: 0px;
}

.card-body {
    padding-top: 10px;
    padding-bottom: 5px;
}

#error {
    color: red;
    font-weight: bold:
}

#cityStats {
    padding: 10px;
}

.day {
    padding: 10px;
}

#day1,
#day2,
#day3,
#day4,
#day5 {
    font-size: 15px;
};

._5day {
    font-size: 10px;
}

#button-addon2 {
    backround-color: rgb(8, 8, 223) !important;
}

.citySave:hover {
    outline-style: solid; 
    outline-color: blue !important;
}